/* Style for calendar doors */
.hCalendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0 auto;
}

.door {
  width: auto;
  height: auto;
  background-color: #f0f0f0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Calendar Model Styling */
.metadata {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  overflow: hidden;
}

.recipe-metadata {
  margin: 0 auto;
  background-color: #b8b8b8;
  border-radius: 15px;
  /* padding: 5px; */
  margin-top: 5px;
  display: inline-block;
}

/*  */

.hImageRecipe {
  border-radius: 15px;
}