* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

#section-a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  font-size: 10px;
  background-size: 120%;
  background-position: 20% 60%;
  width: 100%;
}

.container-section-a {
  padding-left: 20px !important;
  padding-right: 20px !important;
  max-width: 1400px !important;
  margin-left: 8%;
}
.nav {
  padding-top: 0px !important;
}
.nav-logo {
  background-color: transparent !important;
  max-width: 150px;
}

.cta-heading {
  color: #f12620;
  position: relative;
  font-size: 6rem;
  transform: rotate(-3deg);
  z-index: 6;
}

.img-hero-section {
  position: relative;
  right: 0;
  border-width: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px #000;
  transform: rotate(0deg);
  z-index: 3;
}

.container-hero-img {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ae8625,
    #f7ef8a,
    #d2ac47,
    #edc967
  );
  border-radius: 35px;
  box-shadow: 3px 5px 1px #886719, inset 3px 3px 3px #fff;
  transform: rotate(5deg);
  margin-left: -5%;
}

#section-a p {
  width: 70%;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  z-index: 6;
}
#section-a a {
  width: 20%;
  margin: 0 20%;
}

.countdown {
  text-align: center;
  font-size: 30px;
}

.timer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

.time,
.text {
  font-size: 40px;
  font-weight: bold;
}

.text {
  font-size: 30px;
  font-weight: bold;
}

/*  END OF SECTION A */
