#contact-section{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#contactForm{
    background-color: var(--main-1);
    color: var(--text);
}

.h-border{
    border: 4px solid #f7ef8a;
}

.card-header{
    color: #f7ef8a;
}

.form-control{
    background-color: var(--main-1);
    color: var(--text);
}

.form-control::placeholder{
    color: var(--text);
}

.form-control:focus{
    background-color: var(--main-2);
    border-color: #f7ef8a;
    color: var(--text);
}

#g-send-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#g-send-container > div{
   background-image: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47, #edc967);
   border-radius: 5px;
}

#g-send-container > div > button{
    background-color: var(--main-2);
    color: var(--text);
    margin: 5px;
    border-radius: 5px;
}

#g-send-container > div > button:hover{
    background-color: var(--main-1);
    color: var(--text);
}