#team-section {
  margin: 0rem;
  overflow: hidden;
  position: relative;
}

#team-section>div {
  padding-top: 15vh;
}

#team-section>div>h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 4rem;
}

.e-no-break {
  white-space: nowrap;
}

#e-image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  /* -- Prevent image highlighting -- */
  touch-action: none;
  /* -- Prevent image dragging -- */
}

.e-image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 7px;
}

.e-member {
  position: relative;
  padding: 0.5%;
  background-image: linear-gradient(to right, #ae8625, #f7ef8a, #FFF, #FFF, #FFF, #d2ac47, #edc967);
  border-radius: 15px;
}

.e-member-name {
  text-decoration: none;
  font-size: 1.5rem;
  bottom: 10px;
  right: 1rem;
  text-shadow: 2px 2px 4px #000000;
}

/* E section Font */
#team-section>div>h1 {
  font-family: var(--special-font);
}

.e-hero-name-container {
  background-image: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47, #edc967);
  border-radius: 5px;
  padding: 5px;
  display: inline;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.e-member-name {
  color: var(--text);
  background-color: var(--main-1);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.e-member-name:hover,
.e-member-name:focus {
  background-color: var(--main-2);
}

@media screen and (max-width: 1024px) {
  #team-section>div>h1 {
    font-size: 3rem;
  }

  #team-section>div {
    padding-top: 20vh;
  }

  .e-member-name {
    font-size: 1.2rem;
    border-radius: 2px;
  }

  .e-member {
    border-radius: 12px;
  }

  .e-image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 10px;
  }
}

@media screen and (max-width: 425px) {
  #team-section>div>h1 {
    font-size: 2rem;
  }

  #team-section>div {
    padding-top: 25vh;
  }

  .e-member-name {
    font-size: 1rem;
    border-radius: 2px;
  }

  .e-member {
    border-radius: 14px;
  }

  .e-image {
    border-radius: 10px;
    width: 60vmin;
    height: 84vmin;
  }
}