/* Style for calendar doors */
.hCalendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0 auto;
}

.door {
  width: auto;
  height: auto;
  background-color: #f0f0f0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Calendar Model Styling */

.modal-content {
  background-color: var(--main-2);
}

.recipe-metadata {
  margin: 0 auto;
  background-color: var(--main-1);
  border-radius: 15px;
  display: inline-block;
}

.modal-image-container {
  width: 100%;
  overflow: hidden;
}

.hImageRecipe {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.metaData {
  right: 15px;
  bottom: 15px;
}