/* font link
 */
@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&family=Marmelad&family=Poller+One&display=swap");

@font-face {
    font-family: 'merry_christmas_flakeregular';
    src: url('../font/merrychristmasflake-webfont.woff2') format('woff2'),
         url('../font/merrychristmasflake-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merry_christmas_starregular';
    src: url('../font/merrychristmasstar-webfont.woff2') format('woff2'),
         url('../font/merrychristmasstar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Global variables. if used for as value do this: var(--variable-name) */
:root {
  /* fonts */
  --title-font: "merry_christmas_flakeregular", sans-serif;
  --main-font: "Playfair Display", serif;

  /* Colours */
  --text: rgb(0, 0, 0);
  --background: rgb(255, 255, 255);
  --primary: rgb(255, 0, 0);
  --secondary: rgb(0, 255, 0);
  --accent: rgb(0, 0, 255);

  /* Utility */
  --small-boxshadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  --boxshadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  --border: 1px solid rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main font);
  font-weight: 200;
  letter-spacing: 2px;
  /* color: whitesmoke !important; */
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

main{
  height: 100vh;
  width: 100vw;
  padding: 0;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

main  > section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

main  > section:nth-child(3n){
  background-color: var(--accent);
}

main > section:nth-child(3n-1){
  background-color: var(--primary);
}

main > section:nth-child(3n-2){
  background-color: var(--secondary);
}

section div h1 {
  font-size: 5rem;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  letter-spacing: 2px;
}

/* text color variable used for background color */
.color-text-bg {
  background-color: var(--text);
}

/* text color variable used for text color */
.color-text-text {
    color: var(--text);
}

/* background color variable used for background */
.color-bg-bg {
    background-color: var(--background);
}

/* background color variable used for text */
.color-bg-text {
  color: var(--background);
}

/* primary color variable used for background */
.color-pr-bg {
  background-color: var(--primary);
}

/* primary color variable used for text */
.color-pr-text {
  color: var(--primary);
}

/* secondary color variable used for background */
.color-sc-bg {
  background-color: var(--secondary);
}

/* secondary color variable used for text */
.color-sc-text {
  color: var(--secondary);
}

/* accent color variable used for background */
.color-ac-bg {
  background-color: var(--accent);
}

/* accent color variable used for text */
.color-ac-text {
  color: var(--accent);
}

/* navigation bar */


.nav-link{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0.5rem;
  font-weight: 600;
  border-radius: 1rem !important;
  padding: 0.4rem 0.6rem;
}


.nav-pills .nav-link.active{
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-pills .nav-link:hover{
  text-decoration: underline;
  color: white;
}

.nav-pills .nav-link:focus{
  text-decoration: none;
  color: white;
}
